{
  "extends": ["next", "next/core-web-vitals", "prettier", "eslint:recommended"],
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": ["prettier"]
}
